{% extends 'template.html' %}


{% block styles %}
    <link rel="stylesheet" href="../static/styles/all-members.css">
{% endblock %}

{% block title %}
    <title>Участники группы</title>
{% endblock %}
    
{% block content %}
    <h1>Участники группы</h1>
    
    <!-- бывшие участники -->
    <h2>Бывшие участники группы "Король и Шут"</h2>

    <section class="group">
        {% for member in member_list %}
            <a href="{{member.name}}" class="member">
                <div class="image">
                    <img src="/media/{{member.image}}" alt="">
                </div>
                <div class="header">
                    <h2>{{member.name}}</h2>
                    <br>
                    <h3>{{member.role}}</h3>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}
