{% extends 'template.html' %}


{% block styles %}
    <link rel="stylesheet" href="../static/styles/member-biography.css">
{% endblock %}

{% block title %}
    <title>Александр Балунов</title>
{% endblock %}
    
{% block content %}
    <h1>{{member.name}}</h1>
    <h2>{{member.role}}</h2>
    <section class="content">
        <img src="/media/{{member.image}}" alt="">
        <p>
            {{member.about|safe}}
        </p>
    </section>
    <!-- участники группы -->
    <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif">Участники группы</h1>
    <section class="members">
        {% for main_member in member_list%}
            <a href="/biography/{{ main_member.name }}" title="{{ main_member.name }}"><img src="/media/{{ main_member.image }}"></a>
        {% endfor %}
    </section>
    <a href="/biography/" class="other-members">ВСЕ УЧАСТНИКИ</a>
{% endblock %}

