{% extends 'template.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/discography.css">
{% endblock %}

{% block title %}
    <title>Дискография</title>
{% endblock %}

{% block content %}
    <h1>Дискография</h1>
    <!-- дискография -->
    {% if main_disks %}
        <section class="discography">
            {% for disk in main_disks%}
                <a href="{{disk.name}}"><img src="/media/{{disk.main_image}}"></a>
            {% endfor %}
        </section>
    {% endif %}
    <!-- каверы -->
    {% if cover_disks %}
        <h1>Каверы</h1>
        <section class="discography">
            {% for cover in main_disks%}
                <a href="{{cover.name}}"><img src="/media/{{cover.main_image}}"></a>
            {% endfor %}
        </section>
    {% endif %}
    
    <!-- участники группы -->
    <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif">Участники группы</h1>
    <section class="members">
        {% for main_member in member_list%}
            <a href="/biography/{{ main_member.name }}" title="{{ main_member.name }}"><img src="/media/{{ main_member.image }}"></a>
        {% endfor %}
    </section>
    <a href="all-members.html" class="other-members">ВСЕ УЧАСТНИКИ</a>
{% endblock %}
