{% extends 'template.html' %}


{% block styles %}
    <link rel="stylesheet" href="/static/styles/disk.css">
{% endblock %}

{% block title %}
    <title>{{disk.name}}</title>
{% endblock %}

{% block content %}
    <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif" class="blocks-title">{{disk.name}}</h1>
    <section class="blocks">
        <section class="left-blocks">
            <div class="image">
                <img src="/media/{{disk.main_image}}" alt="">
            </div>
            <!-- о альбоме -->
            <div class="about-album">
                <h2>О релизе</h2>
                <p>
                    {{disk.about}}
                </p>
            </div>

            <!-- другие альбомы -->
            <div class="other-albums">
                {% for disk in other_disks %}
                    <a href="../{{disk.name}}" ><img src="/media/{{disk.main_image}}" alt=""></a>    
                {% endfor %}
            </div>
        </section>

        <section class="right-blocks">
            <!-- композиции и плеер-->
            <div class="compositions">
                <div class="player">
                    <div class="header">
                        <h2></h2>
                    </div>
                    <div class="change-compozition">
                        <button id="prev"><span><img src="/static/images/arrow-prev.svg" alt=""></span></button>
                        <audio controls id="audio-player">
                            <source src="" type="audio/mpeg"/>
                        </audio>
                        <button id="next"><span><img src="/static/images/arrow-next.svg" alt=""></span></button>
                    </div>
                </div>
                <div class="composition-list">
                    {% for a in disk.audio.all %}
                        <button data-src="/media/{{a.file}}">{{a.name}}</button>
                    {% endfor %}
                </div>
            </div>

            <!-- полиграфия -->
            <div class="polygraphy">
                {% for image in disk.images.all %}
                    <img onclick="EnlargeImage(0)" src="/media/{{image.file}}" id="polygraphy-image">
                {% endfor %}
            </div>
        </section>
    </section>

    <!-- увеличение картинки -->
    <div class="enlarged-image hidden">
        <button id="close"><img src="/static/images/close.svg"></button>
        <img id="enlarged-image" src="">
    </div>

    <!-- участники группы -->
    {% if member_list|length > 0 %}
        <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif" class="members-title">Участники группы</h1>
        <section class="members">
            {% for main_member in member_list%}
                <a href="/biography/{{ main_member.name }}" title="{{ main_member.name }}"><img src="/media/{{ main_member.image }}"></a>
            {% endfor %}
        </section>
        <a href="/biography/" class="other-members">ВСЕ УЧАСТНИКИ</a>
    {% endif%}
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/disk.js"></script>
{% endblock %}