{% extends 'template.html' %}

{% block styles %}
    <link rel="stylesheet" href="../static/styles/gallery.css">
{% endblock %}

{% block title%}
    <title>Галлерея</title>
{% endblock %}

{% block content %}
    <h1>Галлерея</h1>
    <h2>Концерты</h2>
    <div class="videos">
        <button id="prevVideo"><img src="/static/images/arrow-prev.svg" alt=""></button>
        
        <div class="carousel">   
            {% for video in videos %}
                <iframe src="{{video.url}}" frameborder="0" width="100%" height="800"></iframe>  
            {% endfor %}
        </div>

        <button id="nextVideo"><img src="/static/images/arrow-next.svg" alt=""></button>
    </div>
    <h2>Фотографии</h2>

    <!-- галлерея -->
    <div class="gallery">
        {% for image in images %}
            <figure onclick="EnlargeImage(0)">
                <img src="/media/{{image.image}}" id="image">
            </figure>
        {% endfor %}
    </div>

    <!-- увеличение картинки -->
    <div class="enlarged-image hidden">
        <button id="close"><img src="../static/images/close.svg"></button>
        <img id="enlarged-image" src="">
    </div>

    <!-- участники группы -->
    <h1 style="color:rgb(255, 170, 22); padding-left: 100px; font-family: 'Old Standard TT', serif">Участники группы</h1>
    <section class="members">
        {% for main_member in member_list%}
            <a href="/biography/{{ main_member.name }}" title="{{ main_member.name }}"><img src="/media/{{ main_member.image }}"></a>
        {% endfor %}
    </section>
    <a href="../all-members.html" class="other-members">ВСЕ УЧАСТНИКИ</a>
{%  endblock %}